@import './mixins.scss';

@import './header.scss';
@import './foodMenu.scss';
@import './gallery.scss';
@import './home.scss';
@import './about.scss';

#root {
  background-color: $black;
  padding: 1px;
  font-family: lulo-clean, sans-serif;
}
