@import url('https://fonts.googleapis.com/css?family=Assistant');

@font-face {
  font-family: "gl-font";
  src: url("./GveretLevinAlefAlefAlef-Regular.woff") format('woff');
}

html[lang="he"] .c-menu {
  direction: rtl;
}

.mides-logo {
  display: inline-block;
  font-family: gl-font, serif;
  font-size: 3.5rem;
  padding: 1.5rem;
  color: #e27d17;
  float: left;
}

.header {
  height: 4rem;
  justify-content: space-between;

  &__logo.header__logo.header__logo.header__logo {
    border-left: none !important;
    position: static;
    margin-right: 4rem;
  }

  &__menu.header__menu.header__menu.header__menu {
    position: unset;
    .segments {
      display: flex;
      float: right;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border: none;
      box-shadow: none;
      .segment {
        border-top: none;
      }
    }

    .dropdown {
      padding: 0;
      position: unset;
      .menu {
        top: 53px;
        left: 0;
        direction: rtl;
        width: 100vw;
        overflow: hidden;
        display: block;
        transition: height .25s ease-out;
        height: 0;
        .item {
          width: 100vw;
          text-align: center;
        }
        &.transition.visible {
          max-height: 280px;
          height: 280px;
        }
      }
      .icon {
        margin: 0;
        &.close {
          display: none;
        }
      }
      &.active {
        .bars {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  }
}