@import url('https://fonts.googleapis.com/css?family=Assistant');

@font-face {
  font-family: "gl-font";
  src: url("./GveretLevinAlefAlefAlef-Regular.woff") format('woff');
}

html[lang="he"] .c-menu {
  direction: rtl;
}

.item::before {
  content: none;
  width: 0!important;
}

.ui.menu {
  .item {
    line-height: 0.5rem!important;
  }
}

.ui.segments {
  border: 0;
  position: static;
}


.menu-container {
  position: absolute;
  top: 5rem!important;
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  .menu-icon {
    padding: 1.5rem;
  }
}

.he {
  .header {
    .top-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.mides-logo {
  display: inline-block;
  font-family: gl-font, serif;
  font-size: 3.5rem;
  padding: 1.5rem;
  color: #e27d17;
  float: left
}

.c-menu {
  position: absolute;
  transition: all .4s ease;
  visibility: hidden;
  padding: 0;
  margin-top: 6rem;
  width: 100vw;
  overflow: hidden;
  height: 0;
}

.menu-icon {
  &.open {
    display: block;
    .c-menu--slide-top {
      height: 26rem;
      visibility: inherit;
    }
  }
}


.kind-of-black {
  background: #333333;
}

.title-color {
  color: #ae9a64;
}

.heb-menu .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: flex-end;
}
.heb-menu .title h1 {
  margin: 0;
}
.heb-menu .title {
  padding-bottom: .2rem;
}
.heb-menu h2 {
  direction: rtl;
  color: #ae9a64;
  border-bottom: 3px solid #adadad;
  border-top: 3px solid #adadad;
  padding: 1.5rem 0;
  font-size: 2rem;
}
.item {
  margin-bottom: 3rem;
}
.item .titledescription {
  text-shadow: none;
  letter-spacing: 2px;
  direction: rtl;
  color: #ae9a64;
  margin: 0;
}
.item .title h3{
  margin: 0;
}
.item .titledescription h3{
  margin: 0;
}
.item .title {
  letter-spacing: 2px;
  direction: rtl;
  color: #ae9a64;
  margin: 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
}
.item .price {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-family: 'Assistant', sans-serif;
}
.title.underline {
  text-decoration: underline;
  text-decoration-color: #ae9a64;
}
.price.drink {
  float: left;
  margin: 0;
  font-size: 1rem;
}
.drinks .item {
  margin-bottom: 0.5rem;
}